<div class="rightBlock">
  <div class="topblock"><span class="options">User : {{user.username}}</span><span><a href="/logout">Log out</a></span>
  </div>
  <h2>Edit posts</h2>
  <form (ngSubmit)="onSubmit()">
    <label for="title">Title: </label>
    <input id="title" [(ngModel)]="form.title" name="title" class="inputbox"/>
    <p>Body:</p>
    <textarea [(ngModel)]="form.text" name='text' class="inputbox textbox"></textarea>
    <p>
      <button type="submit">Edit Post</button>
    </p>
  </form>
</div>
