
<div class="topblock"><span class="options">User : {{user.username}}</span><span><a href="/logout">Log out</a></span></div>
<section>
  <h2>{{post.title}}</h2>
  <p>{{post.text}}</p>
  <div class="author">------------ {{post.author}}</div>
  <h3>Comments </h3><span>There are {{post.comments.length}} comments.</span>
  <div class="post">
    <div ng-repeat="comment in posts.comments" class="comment">
      <div>{{comment.text}}</div>
      <div class="tag">
        <div ng-show="comment.isAuthor" class="line"><a ng-click="delete($index)">delete</a></div>
        <div ng-show="isAdmin &amp;&amp; !comment.hide" class="line"> <<<<a ng-click="Hide($index)">Hide(Admin)</a></div>
        <div ng-show="isAdmin &amp;&amp; comment.hide" class="line"> <<<<a ng-click="Restore($index)">Restore(Admin)</a></div>
        <div class="signature">----------- By : {{comment.by}}</div>
      </div>
    </div>
  </div>
  <h4>Leave a comment :</h4>
  <textarea ng-model="comment.text" class="inputbox textbox"></textarea>
  <div>
    <button ng-click="submit()">Submit Comment</button>
  </div>
</section>
